html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 31%, rgba(23, 142, 166, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#centerOb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
    color: aliceblue;
}

#locationInp{
    color: black;
}

#weatherCurrent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherDit{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.weatherInfo{ 
    border: solid, black;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 2rem;

}

